<div class="hero-unit well" style="text-align:center;">
<h2>Uvalue: A Simplified Commerce Experience</h2>

<p>
	Are you finding it difficult or time consuming to learn how to use some of the most popular ecommerce marketplaces? Would you rather bypass thee hassle and get straight to making a profit? 
</p> 


<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success btn-large" %>
	</p>
</div>


<ul class="thumbnails">
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag("college.jpg")%>
      <h3>College</h3>
      <p>Thumbnail caption...</p>
      <%= link_to "Sign In", college_path,  class: "btn btn-success btn-block" %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag("neighborhood.jpg")%>
      <h3>Neighborhoods</h3>
      <p>Thumbnail caption...</p>
      <%= link_to "Sign In", neighborhoods_path, class: "btn btn-success btn-block" %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
    	<%= image_tag("sellanything.jpg")%>
      <h3>Sell Anything</h3>
      <p>Thumbnail caption...</p>
      <%= link_to "Sign In", sellanything_path,  class: "btn btn-success btn-block" %>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail">
      <%= image_tag("business.jpg")%>
      <h3>Business</h3>
      <p>Thumbnail caption...</p>
      <%= link_to "Sign In", business_path, class: "btn btn-success btn-block" %>
    </div>
  </li>
</ul>
