<%= render 'dashboard/dashboard' %>

<div style="margin-left:20px;">
<div class="headerlinks"><%= link_to "My Presence", dashboard_mypresence_path %></div>
<div class="headerlinks"><%= link_to "Identity Verfication", dashboard_identity_path %></div>
<div class="headerlinks"><%= link_to "Reviews", dashboard_reviews_path %></div>
<div class="headerlinks"><%= link_to "References", dashboard_references_path %></div>
</div>
<br/><br/>

<div class="verification">
<table>
  <thead>
    <tr>
      <th style="text-align:left;"><b>Verify Your ID</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
Getting your Verified ID is the easiest way to help build trust in the Airbnb community. We'll verify you by matching information from an online account to an official ID. Learn more</br>
<br/>
Or, you can choose to only add the verifications you want below.</td>
<td style="width: 200px;text-align: center;"><%= link_to "Connect", dashboard_neighborhoods_path, class: "btn btn-success btn-large" %></td>
</tr>
</tbody>
</table>
</div>


<div class="verification">
<table>
  <thead>
    <tr>
      <th style="text-align:left;"><b>Verify Your ID</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
Getting your Verified ID is the easiest way to help build trust in the Airbnb community. We'll verify you by matching information from an online account to an official ID. Learn more</br>
<br/>
Or, you can choose to only add the verifications you want below.</td>
<td style="width: 200px;text-align: center;"><%= link_to "Connect", dashboard_neighborhoods_path, class: "btn btn-success btn-large" %></td>
</tr>
</tbody>
</table>
</div>

<div class="verification">
<table>
  <thead>
    <tr>
      <th style="text-align:left;"><b>Verify Your ID</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
Getting your Verified ID is the easiest way to help build trust in the Airbnb community. We'll verify you by matching information from an online account to an official ID. Learn more</br>
<br/>
Or, you can choose to only add the verifications you want below.</td>
<td style="width: 200px;text-align: center;"><%= link_to "Connect", dashboard_neighborhoods_path, class: "btn btn-success btn-large" %></td>
</tr>
</tbody>
</table>
</div>

<div class="verification">
<table>
  <thead>
    <tr>
      <th style="text-align:left;"><b>Phone Number</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><p>
Make it easier to communicate with a verified phone number. We’ll send you a code by SMS or read it to you over the phone. Enter the code below to confirm that you’re the person on the other end.<br/>
</p>
<p>
Rest assured, your number is only shared with another Airbnb member once you have a confirmed booking.<br/>
</p>
<p>
Note: For more information, text HELP to 247262. To cancel mobile notifications, reply STOP to 247262. Message and Data rates may apply.</br>
</p>
<p>
No phone number entered
</p></td>
<td style="width: 200px;text-align: center;"><%= link_to "Connect", dashboard_neighborhoods_path, class: "btn btn-success btn-large" %></td>
</tr>
</tbody>
</table>
</div>