<%= render 'dashboard/dashboard' %>

<div style="margin-left:20px;">
<div class="headerlinks"><%= link_to "My Presence", dashboard_mypresence_path %></div>
<div class="headerlinks"><%= link_to "Identity Verfication", dashboard_identity_path %></div>
<div class="headerlinks"><%= link_to "Reviews", dashboard_reviews_path %></div>
<div class="headerlinks"><%= link_to "References", dashboard_references_path %></div>
</div>

<br/>