<%= render 'layouts/navinner' %>
<div class="college-full">
      <img alt="hero AustinSkyline Koett" class="college-full" data-height="676" data-width="1300" src="http://en.academic.ru/pictures/enwiki/83/Syracuse_skyline.jpg" style="opacity: .8;">

      <div class="college-homepage-title">
        <div class="college-homepage-tagline"><h2>Dedicated Space for Zip Code</h2></div>
        <h1 class="hpcollege-name">13210</h1>
      </div>

      <div class="overlay">
      <div class="container">
        <big>Use the following filters to find what your looking for within your community</big><br/>
   <div data-pjax-container style="margin-top:20px;">
          <div class="btn-group">
				<button class="btn btn-inverse" style="text-decoration:none;"><%= link_to "13210", dashboard_neighborhoods_path %></button>
				<button class="btn btn-inverse"><%= link_to "13", dashboard_neighborhoods_path  %></button>
		  </div>

          <div class="btn-group">
				<button class="btn btn-inverse" style="text-decoration:none;"><%= link_to "Apartments", dashboard_neighborhoods_path %></button>
				<button class="btn btn-inverse"><%= link_to "13", dashboard_neighborhoods_path  %></button>
		  </div>

		  <div class="btn-group">
				<button class="btn btn-inverse" style="text-decoration:none;"><%= link_to "Local Stores", dashboard_neighborhoods_path %></button>
				<button class="btn btn-inverse"><%= link_to "23", dashboard_neighborhoods_path  %></button>
		  </div>

		  <div class="btn-group">
				<button class="btn btn-inverse" style="text-decoration:none;"><%= link_to "Restaurants", dashboard_neighborhoods_path %></button>
				<button class="btn btn-inverse"><%= link_to "8", dashboard_neighborhoods_path  %></button>
		  </div>

		  <div class="btn-group">
				<button class="btn btn-inverse" style="text-decoration:none;"><%= link_to "Listings", dashboard_neighborhoods_path %></button>
				<button class="btn btn-inverse"><%= link_to "58", dashboard_neighborhoods_path  %></button>
		  </div>
	</div>
</div>
</div>

<div class="ticker">
	<div class="container">
	Here is where we display sponsored information for the community
	</div>
</div>

<div class="container"> 
	<div class="span10">Main 1

	</div>
	<div class="span2">
		<div class="onlineusers" style="margin-top:20px;">
		<h4 class="header-tag"> Online Users </h4>
		<div class="wrapper" style="height:500px; min-height:500px; width:230px;">
             <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table table-striped">
					<tbody>							
                        <tr class="grayline">
                            <td width="10"><!--<span class="number"></span>--></td>
                            <td><a href="http://localhost/Uvalue-Live-Master/home/index/298">Kwaku Boah</a></td>
                            <td width="50">
							<a href="http://localhost/Uvalue-Live-Master/home/index/298">
							<img src="http://localhost/Uvalue-Live-Master/system/upload/member/260274_10150333610228098_2457101_n.jpg" alt="" width="50" height="50" class="online-image"></a>									
							</td>
                        </tr>
							 							
                        <tr class="grayline">
                            <td width="10"><!--<span class="number"></span>--></td>
                            <td><a href="http://localhost/Uvalue-Live-Master/home/index/297">Joshua Anderson</a></td>
                            <td width="50">
							<a href="http://localhost/Uvalue-Live-Master/home/index/297">
							<img src="http://localhost/Uvalue-Live-Master/system/upload/member/12148_10151296648590208_780917006_n.jpg" alt="" width="50" height="50" class="online-image"></a>									
							</td>
                        </tr>
							 							
                        <tr class="grayline">
                            <td width="10"><!--<span class="number"></span>--></td>
                            <td><a href="http://localhost/Uvalue-Live-Master/home/index/289">Christen Westbury</a></td>
                            <td width="50">
							<a href="http://localhost/Uvalue-Live-Master/home/index/289">
							<img src="http://localhost/Uvalue-Live-Master/system/application/views/images/not_available.jpg" alt="" width="50" height="50" class="online-image"></a>									
							</td>
                        </tr>
							 							
                        <tr class="grayline">
                            <td width="10"><!--<span class="number"></span>--></td>
                            <td><a href="http://localhost/Uvalue-Live-Master/home/index/287">Kevin Jean</a></td>
                            <td width="50">
							<a href="http://localhost/Uvalue-Live-Master/home/index/287">
							<img src="http://localhost/Uvalue-Live-Master/system/application/views/images/not_available.jpg" alt="" width="50" height="50" class="online-image"></a>									
							</td>
                        </tr>
							 							
                        <tr class="grayline">
                            <td width="10"><!--<span class="number"></span>--></td>
                            <td><a href="http://localhost/Uvalue-Live-Master/home/index/278">Marcarthur Abelard</a></td>
                            <td width="50">
							<a href="http://localhost/Uvalue-Live-Master/home/index/278">
							<img src="http://localhost/Uvalue-Live-Master/system/upload/member/ffda.jpeg" alt="" width="50" height="50" class="online-image"></a>									
							</td>
                        </tr>
							 							
                        <tr class="grayline">
                                <td width="10"><!--<span class="number"></span>--></td>
                                <td><a href="http://localhost/Uvalue-Live-Master/home/index/274">Ademar Perez</a></td>
                                <td width="50">
								<a href="http://localhost/Uvalue-Live-Master/home/index/274">
								<img src="http://localhost/Uvalue-Live-Master/system/upload/member/Photo_45.jpg" alt="" width="50" height="50" class="online-image"></a>									
								</td>
                        </tr>
							 							
                        <tr class="grayline">
                              <td width="10"><!--<span class="number"></span>--></td>
                              <td><a href="http://localhost/Uvalue-Live-Master/home/index/262">Joel Sloly</a></td>
                              <td width="50">
							  <a href="http://localhost/Uvalue-Live-Master/home/index/262">
							  <img src="http://localhost/Uvalue-Live-Master/system/upload/member/Picture_001.jpg" alt="" width="50" height="50" class="online-image"></a>									
							  </td>
                        </tr>
							 							
                        <tr class="grayline">
                              <td width="10"><!--<span class="number"></span>--></td>
                              <td><a href="http://localhost/Uvalue-Live-Master/home/index/261">Marcus Peterson</a></td>
                              <td width="50">
							  <a href="http://localhost/Uvalue-Live-Master/home/index/261">
						      <img src="http://localhost/Uvalue-Live-Master/system/application/views/images/not_available.jpg" alt="" width="50" height="50" class="online-image"></a>									
							  </td>
                        </tr>
							 							
                        <tr class="grayline">
                              <td width="10"><!--<span class="number"></span>--></td>
                              <td><a href="http://localhost/Uvalue-Live-Master/home/index/260">Marius Bizimungu</a></td>
                              <td width="50">
							  <a href="http://localhost/Uvalue-Live-Master/home/index/260">
							  <img src="http://localhost/Uvalue-Live-Master/system/upload/member/165555_487720406111_7945041_n.jpg" alt="" width="50" height="50" class="online-image"></a>									
							  </td>
                        </tr>
							 							
                        <tr class="grayline">
                             <td width="10"><!--<span class="number"></span>--></td>
                             <td><a href="http://localhost/Uvalue-Live-Master/home/index/259">Gabrielle D.</a></td>
                             <td width="50">
							 <a href="http://localhost/Uvalue-Live-Master/home/index/259">
							 <img src="http://localhost/Uvalue-Live-Master/system/upload/member/Snapshot_20111130_9.JPG" alt="" width="50" height="50" class="online-image"></a>									
							</td>
                        </tr>  
                    </tbody></table>
            </div>
        </div>
	</div>
</div>